<h1>This is Question Paper addition Form</h1>
<form action="/added" name="que">
	<label>Enter the Subject Name</label>
	<input type="text" name="subject">
	<br>
	<label>Enter the Question</label>
	<input type="text" name="question">
	<br>
	<label>Enter the Answer</label>
	<input type="text" name="answer">
	<br>
	<button type='submit' class="submit">Save</button>
</form>