<h1>this is dashboard</h1>

<form action="/logout" method="get">
	<button type="submit" name="submit" class="submit">LOGOUT </button>
</form>
<br>
<%= link_to('ADD THE QUESTION', {:action => 'question' ,:controller => 'questions'}) %>
	</br>
